table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid white;
  text-align: left;
  padding: 8px;
}

td:nth-child(even) {
  background-color: rgb(255, 247, 247);
}

td:nth-child(odd) {
  background-color: rgb(243, 252, 251);
}

th:nth-child(even) {
  background-color: rgb(253, 71, 88);
  color: white;
  text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

th:nth-child(odd) {
  background-color: green;
  color: white;
  text-shadow:
     -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
