.line {
  fill: none;
  stroke: gray;
  stroke-width: 2px;
}

#time-series-svg {
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}
.time-series-svg-wrapper {
  width:100%;
  text-align:center;
  grid-area: 2 / 2 / 2 / 2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: gray;
  stroke-width: 5px;
}

.hover-line {
  stroke: gray;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.text-desc {

}
