.App {
  /*text-align: center;*/
}


.App-header {
  background-color: white;
  min-height: calc(100vh - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.title {
  font-size: 72px;
}
.subtitle {
  font-size: 24px;
}

footer {
  font-size: 12px;
  padding: 8px;
  text-align: center;
  color: gray;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

a {
  color: inherit;
}
/*
.chart-summary {
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items:center;
  justify-content: center;
}
*/
.chart-summary {
  display: grid;
  grid-template-rows: 16vh 35vh 25vh;
  grid-template-columns: 40vw 40vw;
  grid-column-gap: 5vw;
  grid-row-gap: 2vw;
  justify-content:center;
}
.summary-text {
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  text-align: center;
  padding-top:24px;
  padding-bottom:24px;
}

/* loading animation inspired by https://codepen.io/timming-au/pen/poyKPwj */

@keyframes loading{
  0%{
    stroke-dashoffset: 150.79632;
  }
  100%{
    stroke-dashoffset: -150.79632;
  }
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes rotateBase{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.loading-container{
  width:200px;
  height:200px;
  position:absolute;
  margin: -100px 0px 0px -100px;
  left:50%;
  top:50%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}
.loading-rotater{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  animation: rotateBase 20s infinite linear;
}
.loading-svg{
  animation: loading 2s infinite ease-in-out, rotate 2s infinite ease-in-out;
  stroke-dasharray: calc(48 * 3.14159);
}



.loading-text{
  font-size:20px;
}

.double-chart {
  grid-area: 1 / 1 / 1 / 3;
}
